{% extends "base.html.twig" %}
{% block title %} Mot de passe oublié{% endblock %}
    {% block body %}

         {% for message in app.flashes('message') %}
    <div class="bg-success text-white text-center p-2 col-md-3 mx-auto rounded" role="alert")>
    {{ message }}
    </div>
        
    {% endfor %}
       
        <h1 class = "display-4 text-center my-4"> Mot de passe oublié</h1>






        
         {{ form_start(emailForm, {'attr': {'class': 'col-md-3 mx-auto'}}) }}

        

        <div class="form-group">
            {{ form_row(emailForm.email, {'label': "Email", 'attr': {'class': 'form-control'}}) }}
        </div>

      
            <button type="submit" class="col-12 btn btn-dark mt-4 mb-4" name="envoyer">Valider</button>
        </div>
         {{ form_end(emailForm) }}
    

{% endblock %}