{% extends "base.html.twig" %}
{% block title %} Identifiez-vous{% endblock %}
  {% block stylesheets %}
          
           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel= "stylesheet" href =  "{{ asset('css/style.css') }}">
                {% endblock %}

    {% block body %}

     {% for message in app.flashes('success') %}
    <div class="bg-success text-white text-center p-2 col-md-3 mx-auto rounded alert-success" role="alert")>
    {{ message }}
    </div>
        
    {% endfor %}

    {% for message in app.flashes('message') %}
    <div class="bg-success text-white text-center p-2 col-md-3 mx-auto rounded" role="alert")>
    {{ message }}
    </div>
        
    {% endfor %}

    {% for message in app.flashes('warning') %}
    <div class="alert-warning" role="alert")>
    {{ message }}
    </div>
        
    {% endfor %}

    {% for message in app.flashes('danger') %}
    <div class="alert-danger" role="alert")>
    {{ message }}
    </div>
        
    {% endfor %}

    
       
        <h1 class = "display-4 text-center my-4">Identifiez-vous</h1>

{% if error %}

<p class = "bg-danger text-white text-center p-3 col-md-3 mx-auto rounded">
{{ error.messageKey|trans(error.messageData, 'security') }}
</p>
    
{% endif %}




        <form method= "post" action="{{ path('security_login') }}" class ="col-md-3 mx-auto">

            <div class="form-group">

    <label for="">Email </label>
            <input type="text" class="form-control" id="_username" name="_username" value= "{{ last_username }}">
            
            
                </div>

                <div class="form-group">

                <label for=""> Mot de passe </label>
                <input type ="password" class="form-control" id="_password" name="_password">
               
                <input type="checkbox"  onclick="myFunction()"> Show Password

            
            
            </div>

         <input type ="submit" class="btn btn-dark form-control my-4" value="Connexion">
        
            <a class="" aria-current="page" href="{{ path('forgotten_password') }}">Forget Password ?</a>
        

        </form>

 {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        

       <script src= "{{ asset('js/graphe.js') }}"></script>
       
        {% endblock %}
{% endblock %}