{% extends "base.html.twig" %}
{% block title %} Créer votre compte{% endblock %}
    {% block body %}
    
        <h1 class = "display-4 text-center my-4">Créer votre compte</h1>

         {{ form_start(formRegistration, {'attr': {'class': 'col-md-3 mx-auto'}}) }}

        

        <div class="form-group">
            {{ form_row(formRegistration.username, {'label': "Nom d'utilisateur", 'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_row(formRegistration.email, {'label': "E-Mail", 'attr': {'class': 'form-control'}} ) }}
        </div>

        <div class="form-group">
            {{ form_row(formRegistration.password, {'label': "Mot de Passe", 'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_row(formRegistration.confirm_password, {'label': "Confirmer votre mot de passe", 'attr': {'class': 'form-control'}}) }}
        </div>
         <div class="text-center">
            <button type="submit" class="col-12 btn btn-dark mt-4 mb-4">Inscription</button>
        </div>
         {{ form_end(formRegistration) }}
    
{% endblock %}