{% extends "base.html.twig" %}
{% block title %} Nouveau Mots de passe{% endblock %}
    {% block body %}

  
       
        <h1 class = "display-4 text-center my-4"> Entrez votre Nouveau Mots de passe</h1>


  <form method= "post" action="" class ="col-md-3 mx-auto">

                <div class="form-group">

                <label for=""> Mot de passe </label>
                <input type ="password" class="form-control" id="_password" name="_password">
             {# //   <input type = "hidden" name="token" value="envoyer"> #}

            
            
            

         <input type ="submit" class="btn btn-dark form-control my-4" value="Valider">
        
</div>
        </form>


        

{% endblock %}