{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}


{% block body %}



<canvas id="myChart" width="400" height="400"></canvas>


 {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        

       <script src= "{{ asset('js/graphe.js') }}"></script>
       <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        {% endblock %}
        
{% endblock %}
