<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
          
           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel= "stylesheet" href =  "{{ asset('css/style.css') }}">
                {% endblock %}

       
    </head>
    <body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ path('home') }}">Symfony</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">

        
          {# {{ dump(app.user) }} #}
      {% if not app.user %}
        
     
        
        <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="{{ path('security_login') }}">Identifiez-vous</a>
          </li>

           <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="{{ path('security_registration') }}">Créer votre compte</a>
          </li>

 {% endif %}

 {% if app.user %}
            <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="{{ path('blog') }}">Blog</a>
          </li>

        
         <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="{{ path('security_logout') }}">Deconnexion</a>
          </li>
          {% endif %}
        </ul>
        <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
<div class= "mon-container">
        {% block body %}

        {% endblock %}
        </div>

        <footer class= "bg-dark text-center text-white p-4">copyrights &copy; 2021</footer>
        
         {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
        
        
        {% endblock %}
        
    </body>
</html>
